<div class="user-container">

      <div class="career-pin-conatiner-user">

        <ul class="career-pin-admin">
          <li>Informacje o <%= "#{current_company.name}"%></li>
        </ul>
        
        <div id="settings">   

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="field-wrap settings-info">
              <label>Phone number:</label>
              <%= f.text_field :telephone %>
            </div>
            <!--
            <div class="field-wrap settings-info alt">
              <label>Allow users see unpind posts:</label>
              <div>
                <input id="option" type="checkbox" name="field" value="option">
                <label for="option"><span><span></span></span>Yes</label>
              </div>
            </div>
            -->
            <div class="settings-buttons">
              <%= button_tag(type: "submit", class: "button button-block" ) do %>
              Save
              <% end %>
            </div>

          <div class="field-wrap settings-info">
              <label>Your plan:</label>
            <div class="example">
              <div>
                <%= f.radio_button(:price, "0",) %>
                <%= f.label(:price_0) do %>
                <span><span></span></span>Free
                <% end %>
              </div>
              <div>
                <%= f.radio_button(:price, "99") %>
                <%= f.label(:price_99) do %>
                <span><span></span></span>Standard
                <% end %>
              </div>
              <div>
                <%= f.radio_button(:price, "399") %>
                <%= f.label(:price_399) do %>
                <span><span></span></span>Premium
                <% end %>
              </div>
            </div>

        </div><!-- /.career-pin-conatiner -->
      </div>
    </div>


          <div class="admin-options">
            
            
                <div id="change-password">   

                  <div class="field-wrap">
                    <%= f.email_field :email, autofocus: true %>
                  </div>

                  <div class="field-wrap">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "new password" %>
                  </div>

                  <div class="field-wrap">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" %>
                  </div>

                  <div class="field-wrap">
                    <%= f.password_field :current_password, autocomplete: "off", placeholder: "current password" %>
                  </div>
                  <% end %>

<p>Unhappy?</p>
<p>Please give us some info about your feelings according to this product. </p>

  <%= button_to "Cancel my account", registration_path(resource_name), class: "button button-block", data: { confirm: "Are you sure?" }, method: :delete %> 

                </div>
        
          </div>
          
          <div class="field-wrap settings-info">
              <label>Cover image:</label>
              <!--
              <input type="file" required autocomplete="off" name="file" id="file" class="inputfile"/>
              -->
              <label for="file"> <span>Choose a file&hellip;</span></label>
            </div>

            <div class="field-wrap settings-info">
              <label>Text:</label>
              <textarea placeholder="Place your text here!" ></textarea>
            </div>

            <div class="field-wrap settings-info">
              <label>Logowanie:</label>
              <span id="copy-text" class="worker-link">http://career-pin.com/company/<%= "#{current_company.name}"%></span>

            </div>
          
          
        </div>









