<div class="user-container">

			<div class="career-pin-conatiner-user">

				<div class="container-fluid brand-ambasadors">

				<ul class="career-pin-admin">
					<li>Pinned pages </li>
				</ul>
				<% @observed_pages.each do |page|%>
				<% if page.provider == "facebook" %>
				<div class="box">
					<%= link_to facebook_show_path(:id => page.pageid) do%>
						<div class="profile-image">
							<%= image_tag(page.image_url)%>
						</div>
						<div class="profile-name">
							<span class="text-center"><%= page.name %></span>
						</div>
					<% end %>           
				</div>
				<% end %>	
				<% if page.provider == "twitter" %>
				<div class="box">
					<%= link_to twitter_show_path(:name => page.pageid) do%>
						<div class="profile-image">
							<%= image_tag(page.image_url)%>
						</div>
						<div class="profile-name">
							<span class="text-center"><%= page.name %></span>
						</div>
					<% end %>           
				</div>
				<% end %>
				<% end%>
			</div><!-- /.career-pin-conatiner -->
			</div>


				<div class="admin-options">
					<div class="worker-options">

					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum nostrum eos quo totam quibusdam, optio vitae dolor nihil vel perferendis consequatur commodi, accusamus, enim aperiam odit soluta corporis! Culpa, nostrum.</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio officia, perspiciatis est suscipit libero ipsa ut dicta fugiat cupiditate, iste veniam distinctio, dolorum deserunt rem illo non at laudantium quam.</p>

					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum nostrum eos quo totam quibusdam, optio vitae dolor nihil vel perferendis consequatur commodi, accusamus, enim aperiam odit soluta corporis! Culpa, nostrum.</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio officia, perspiciatis est suscipit libero ipsa ut dicta fugiat cupiditate, iste veniam distinctio, dolorum deserunt rem illo non at laudantium quam.</p>
					
					</div>
				</div><!-- /.admin-options -->
			</div>
		</div>

