<div class="user-container">

			<div class="career-pin-conatiner-user">

				<div class="container-fluid brand-ambasadors">

				<ul class="career-pin-admin">
					<li style="font-family: carnas light;">Ulubione strony <i class="fa fa-star-o"></i></li>
				</ul>
				<% @observed_pages.each do |page|%>
				<% if page.provider == "facebook" %>
				<div class="box">
					<%= link_to facebook_show_path(:id => page.pageid) do%>
						<div class="profile-image">
							<%= image_tag(page.image_url)%>
						</div>
						<div class="profile-name">
							<span class="text-center"><%= page.name %></span>
						</div>
					<% end %>           
				</div>
				<% end %>	
				<% if page.provider == "twitter" %>
				<div class="box">
					<%= link_to twitter_show_path(:name => page.pageid) do%>
						<div class="profile-image">
							<%= image_tag(page.image_url)%>
						</div>
						<div class="profile-name">
							<span class="text-center"><%= page.name %></span>
						</div>
					<% end %>           
				</div>
				<% end %>
				<% end%>
			</div><!-- /.career-pin-conatiner -->
			</div>


				<div class="admin-options">
					<div class="worker-options">

					<h2>Najważniejsze posty zawsze pod ręką.</h2>

					<p>W tym miejscu pojawią się wszystkie obserwowane <i class="fa fa-star-o"></i> przez Ciebie strony. Dzięki temu, możesz w mgnieniu oka sprawdzić aktualności na najważniejszych dla Ciebie kanałach social-media</p>


					<p>Z wielką mocą idzie wielka odpowiedzialność Peter.</p>
					
					</div>
				</div><!-- /.admin-options -->
			</div>
		</div>

