		<% if !current_company %>
		 <header>
			<nav class="admin-options-logout">
				<%= link_to social_users_destroy_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Signout", method: :delete do %>
				<i class="fa fa-sign-out"></i></a>
				<% end %>
				<% if current_social_user.twitter_token %>
				 <%= link_to timelines_path(:provider => "twitter"), class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Twitter" do %>
					<i class="fa fa-twitter"></i>
				 <% end %>
				<% else %>
				<a class="worker-logout" data-toggle="tooltip" data-placement="bottom" title="Employers' posts"><i class="fa fa-users"></i></a>
				<% end %>
				<%= link_to timelines_path(:provider => "facebook"), class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Twitter" do %>
					<i class="fa fa-facebook-official"></i>
				<% end %>
				<%= link_to career_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Employers' posts" do %>
				 <i class="fa fa-users"></i>
				<% end %>
			</nav>
		 </header>
		<% end %>

		<div class="user-container">

			<div class="career-pin-conatiner-user">
				<ul class="career-pin-preview">
					<li>
						Your co-workres info:
					</li>
					<% @pins.each do |pin| %>
					<% if pin.image.nil? || pin.image.empty? %>
					<li class=<%="#{pin.provider}-list"%>>
				 	 <% else %>
					<li>
					<% end %>
						<div class="cp-2">
							<a target="blank" href=<%= "#{pin.link}" %>>
								<div class="cp-image">
						<%= image_tag( pin.image, class: "myBackgroundImage") %>
								</div>
								<div class="cp-social">
									<% if pin.provider == "facebook" %>
									<i class="fa fa-facebook"></i>
									<% elsif pin.provider == "twitter" %>
									<i class="fa fa-twitter"></i>
									<% end %>
								</div>
								<div class="cp-button preview">

								</div>
								<div class="cp-allweys">
									<div class="cp-author-image">
										<%= image_tag( pin.author_image )%>
									</div>
									<div class="cp-text">
										<p>
											<%= pin.message.first(90) if pin.message %>
										</p>
										<div class="cp-data">
											<span class="cp-autor"><%= pin.author_name %></span>
											<time><%= time_ago_in_words( pin.creation_time ) %></time>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
					<% end %>
					
					
				</ul>
				
			</div><!-- /.career-pin-conatiner -->


				<div class="worker-options">

					

				</div>
					
			</div>