<!--..........................


 Menu for social_users_only 

 ............................-->

		<% if !current_company %>
		 <header>
			<nav class="admin-options-logout">
				<%= link_to social_users_destroy_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Signout", method: :delete do %>
				<i class="fa fa-sign-out"></i></a>
				<% end %>
				<% if current_social_user.twitter_token %>
				 <%= link_to timelines_path(:provider => "twitter"), class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Twitter" do %>
					<i class="fa fa-twitter"></i>
				 <% end %>
				<% else %>
				<%= link_to '/auth/twitter', class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Twitter" do %>
					<i class="fa fa-twitter"></i>
				 <% end %>
				<% end %>
				<%= link_to timelines_path(:provider => "facebook"), class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Twitter" do %>
					<i class="fa fa-facebook-official"></i>
				<% end %>
				<%= link_to career_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom"}, title: "Employers' posts" do %>
				 <i class="fa fa-users"></i>
				<% end %>
			</nav>
		 </header>
		<% end %>
<!--..........................


Posts from social FACEBOOK  

 ............................-->

		<div class="user-container">
			<% if params[:provider] == "facebook"%>
			 <div class="career-pin-conatiner-user">
				<ul class="career-pin-preview">
					<li style="font-family: carnas light;">Twoje ostatnie posty</li>
					<% autor_photo = @graph.get_picture(@feed.first['from']['id'], type: :large) %>
					<% @feed.each do |post| %>
						<% if post['full_picture'].nil? %>
						 <li class="facebook-list">
						<% else %>
						 <li>
						<% end %>
							<div class="cp-2">
								<a target="blank" href=<%= "http://facebook.com/#{post['id']}" %>>
									<div class="cp-image">
										<%= image_tag(post['full_picture'], class: "myBackgroundImage") %>
									</div>
									<div class="cp-social">
										<i class="fa fa-facebook"></i>
									</div>
									<div class="cp-button preview">
		<!--..........................

		Adding pin to all pins of the social user

		 ............................-->

<%= form_for(@pin) do |f| %>
<%= f.hidden_field(:author_image, :value => autor_photo) %>
<%= f.hidden_field(:link, :value => "http://facebook.com/#{post['id']}" ) %>
<%= f.hidden_field(:provider, :value => "facebook") %>
<%= f.hidden_field(:image, :value => post['full_picture']) %>
<%= f.hidden_field(:author_name, :value => post['from']['name']) %>
<%= f.hidden_field(:message, :value => post['message']) if post['message']%>
<%= f.hidden_field(:creation_time, :value => post['updated_time']) %>
<%= f.hidden_field(:social_user_id, :value => current_social_user.id ) %>
<%= f.hidden_field(:company_name, :value => session[:company_name] ) %>
<%= button_to root_path, type: "submit", class: "submit" do%>
 <i class="fa fa-plus"></i>
<% end %>
										<% end %>



									</div>

									<div class="cp-allweys">
										<div class="cp-author-image">
											<% %>
											<%= image_tag( autor_photo )%>
										</div>
										<div class="cp-text">
											<p>
												<%= post['message'].first(100) + "..." if post['message'] %>
											</p>
											<div class="cp-data">
												<span class="cp-autor"><%= post['from']['name']%></span>
												<time><%= time_ago_in_words(post['updated_time'])%> ago</time>
											</div>
										</div>
									</div>
								</a>
							</div>
						</li>
					<% end %>
				</ul>
		


				 
								
	<% end %>

<!--..........................


Posts from social TWITTER  

 ............................-->

<% if params[:provider] == "twitter" %>
	<% author_photo = @last_tweets.first.user.profile_image_uri(size = :bigger) %>
	<% user_name = @last_tweets.first.user.name %>
	<% screen_name = @last_tweets.first.user.screen_name %>

		<div class="career-pin-conatiner-user">
        <ul class="career-pin-preview">
          <li style="font-family: carnas light;">Twoje ostatnie tweety</li>
            <% @last_tweets.each do |tweet| %>
            <% if tweet.media.present? %>
             <li>
            <% else %>
             <li class="twitter-list">
            <% end %>
              <div class="cp-2">
                <a target="blank" href=<%="#{tweet.uri}"%>>
                  <div class="cp-image">
                    <%= image_tag(tweet.media[0]["media_url"], class: "myBackgroundImage") if(tweet.media.present?)%>


                  </div>
                  <div class="cp-social">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="cp-button preview">

        <!--..........................

		Adding pin to all pins of the social user

		.............................-->

		<%= form_for(@pin) do |f| %>
<%= f.hidden_field(:author_image, :value => author_photo) %>
<%= f.hidden_field(:link, :value => "#{tweet.uri}" ) %>
<%= f.hidden_field(:provider, :value => "twitter") %>
<%= f.hidden_field(:image, :value => tweet.media[0]["media_url"] ) if tweet.media.present? %>
<%= f.hidden_field(:author_name, :value => user_name ) %>
<%= f.hidden_field(:message, :value => tweet.text) %>
<%= f.hidden_field(:creation_time, :value => tweet.created_at ) %>
<%= f.hidden_field(:social_user_id, :value => current_social_user.id ) %>
<%= f.hidden_field(:company_name, :value => session[:company_name] )%>
<%= button_to root_path, type: "submit", class: "submit" do%>
 <i class="fa fa-plus"></i>
<% end %>
<% end %>




                  </div>
                  <div class="cp-allweys">
                    <div class="cp-author-image">
                    	<%= image_tag(author_photo) %>
                    </div>
                    <div class="cp-text">
                      <p>
                        <%= tweet.text.first(140) %>

                      </p>
                      <div class="cp-data">
                        <span class="cp-autor"><%= tweet.user.screen_name %></span>
                        <time><%= time_ago_in_words(tweet.created_at) %> ago</time>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          <% end %>
      </ul>
          <% end %>

          <% if params[:provider] == "facebook" %>
	          <ul id="pag">
	          	<% if !params[:times].present? || params[:times] == "0" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>	
	          		<%= link_to "1", timelines_path( :times => 0, :provider => params[:provider]) %>
	          	</li>
	          	<% if params[:times] == "1" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "2", timelines_path( :times => 1, :provider => params[:provider]) %>
	          	</li>
	          	<% if params[:times] == "2" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "3", timelines_path( :times => 2, :provider => params[:provider]) %>
	          	</li>
	          	<% if params[:times] == "3" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "4", timelines_path( :times => 3, :provider => params[:provider]) %>
	          	</li>
	          	<% if params[:times] == "4" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "5", timelines_path( :times => 4, :provider => params[:provider]) %>
	          	</li>
	          </ul>	
          <% end %>
		
		
		
		
		


			</div><!-- /.career-pin-conatiner -->

		<!--..........................

		Facebook part of view - is visible only for facebook logged in 

		.............................-->


				<% if params[:provider] == "facebook" %>
				<div class="worker-options">

					<h2>Jak się masz?</h2>

					<p>Pokaż swoim współpracownikom niesamowite wydarzenia, które pozwolą im poznać Ciebie oraz Twoje pasje. Pokaż ostatni wyjazd na szkolenie, świetne zdjęcie z pracy lub - ten tekst jest wyzwaniem dla @Zyta, @Kasia, @Jacek :p</p>

				<div class="center-div">
					<div class="worker-social">
						<% if current_company %>
				         <%= link_to timelines_path(:provider => "twitter"), class: "btn btn-block btn-social btn-lg btn-twitter", data: {toggle: "tooltip", placement: "bottom"}, title: "Twitter" do %>
						 <i class="fa fa-twitter"></i>
					     Zaloguj przez Twitter
				         <% end %>
						<% end %>
					</div>
				</div>

 				<% end %>
		<!--..........................

		 Twitter part of view - is visible only for twitter logged in 

		.............................-->

				<% if params[:provider] == "twitter" %>
				<div class="worker-options">

					<h2>O czym ptaszki śpiewają?</h2>

					<p>Przypnij swoje tweety związane z kulturą organizacyjną firmy lub współpracownikami.</p>

				<div class="center-div">
				<div class="worker-social">
				<% if current_company %>
				 <%= link_to timelines_path(:provider => "facebook"), class: "btn btn-block btn-social btn-lg btn-facebook", data: {toggle: "tooltip", placement: "bottom"}, title: "Facebook" do %>
					<i class="fa fa-facebook-official"></i>
					Zaloguj przez Facebook
				 <% end %>

				<% end %>
				</div>

				</div>
								
				<% end %>


		<!--..........................

		 All added Pins from social_user 

		.............................-->
				<ul class="user-right">
				 <% @pins.each do |pin| %>
				 	<% if pin.image.nil? || pin.image.empty? %>
				 	 <li class=<%="#{params[:provider]}-list"%>>
				 	<% else %>
					 <li>
					<% end %>
						<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
							<div class="cp-image">
								<%= image_tag( pin.image, class: "myBackgroundImage") %>
							</div>
							<div class="cp-social">
								<% if pin.provider == "facebook" %>
								 <i class="fa fa-facebook"></i>
								<% elsif pin.provider == "twitter"
									%>
								 <i class="fa fa-twitter"></i>
								<% end %>
							</div>
							<div class="cp-button">
								<%= link_to pin_path(pin), class: "small-cp-button", method: :delete do %>
								 <i class="fa fa-trash"></i>
								<% end %> 
							</div>
							<div class="cp-allweys">
								<div class="cp-author-image">
									<%= image_tag( pin.author_image ) %>
								</div>
								<div class="cp-text">
									<p>
									<%= pin.message.first(90) if pin.message %>
									</p>
									<div class="cp-data">
										<span class="cp-autor"><%= pin.author_name %></span>
										<time><%= time_ago_in_words( pin.creation_time )%></time>
									</div>
								</div>
							</div>
						</a>
					</div>
				 </li>
				<% end %>
				</ul>
						
			</div>



	
