<%= link_to "Wyloguj się", social_users_destroy_path, method: :delete %>
	<% if @feed %>
		<div style="width: 600px; align: left;" >
			<h1>Facebook Data</h1>
			<% @feed.each do |post| %>
				<p><strong>Autor postu</strong><%= post['from']['name']%></p>
				<p><strong>Zdjęcie autora</strong><%= image_tag( @graph.get_picture(post['from']['id'], type: :album))%></p>
				<p><strong>Autor postu</strong><%= time_ago_in_words(post['updated_time'])%> ago</p>
				<p><strong>Obrazek postu:</strong><%= image_tag(post['full_picture'], style: "width: 150px;") %></p>
				<p><strong>Treść postu</strong><%= post['message'] %></p>
				<%= "http://facebook.com/#{post['id']}" %>
				<hr>
			<% end %>
	<% end %>
	<% if @last_tweets %>
		<div stlye"width: 600px; align: right;">
			<% @last_tweets.each do |tweet| %>
                <p><%= image_tag(tweet.user.profile_image_uri(size = :bigger)) %></p> 
                <p><%= tweet.user.name %></p>
                <p><time><%= time_ago_in_words(tweet.created_at) %> ago</time></p>
                <p>Zdjęcie tweeta:<%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"]) if(tweet.media.present?)%>
          		<div class="post-main-text"></p>
            	<p>Treść tweeta:<%= tweet.text %></p>
			<% end %>
		</div>
	<% end %>
</div>