
				<div class="user-container">

				<div class="career-pin-conatiner-user">
				
				<ul>
					<li class="social-button-facebook">
						<i class="fa fa-facebook-official"></i>Facebook
					</li>
					<li>
						<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
							<div class="cp-image">
								<img class="myBackgroundImage" src="assets/images/worker_login.jpg" alt="">
							</div>
							<div class="cp-social">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="cp-button">
								<button class="submit"><i class="fa fa-paper-plane"></i></button>
							</div>
							<div class="cp-author-image">
								<img src="assets/images/worker_login.jpg" alt="Author image">
							</div>
							<div class="cp-text">
								<p>
								Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej...
								</p>
								<div class="cp-data">
									<span class="cp-autor">Cris Cris</span>
									<time>15 days ago</time>
								</div>
							</div>

							</a>
						</div>
					</li>
					<li>
												<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
							<div class="cp-image">
								<img class="myBackgroundImage" src="assets/images/worker_login.jpg" alt="">
							</div>
							<div class="cp-social">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="cp-button">
								<button class="submit"><i class="fa fa-paper-plane"></i></button>
							</div>
							<div class="cp-author-image">
								<img src="assets/images/worker_login.jpg" alt="Author image">
							</div>
							<div class="cp-text">
								<p>
								Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej...
								</p>
								<div class="cp-data">
									<span class="cp-autor">Cris Cris</span>
									<time>15 days ago</time>
								</div>
							</div>

							</a>
						</div>
					</li>
								
								
				</ul>
		
				<ul>
					<li class="social-button-twitter">
						<i class="fa fa-twitter twitter"></i>Twitter
					</li>
					<li>
												<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
							<div class="cp-image">
								<img class="myBackgroundImage" src="assets/images/worker_login.jpg" alt="">
							</div>
							<div class="cp-social">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="cp-button">
								<button class="submit"><i class="fa fa-paper-plane"></i></button>
							</div>
							<div class="cp-author-image">
								<img src="assets/images/worker_login.jpg" alt="Author image">
							</div>
							<div class="cp-text">
								<p>
								Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej...
								</p>
								<div class="cp-data">
									<span class="cp-autor">Cris Cris</span>
									<time>15 days ago</time>
								</div>
							</div>

							</a>
						</div>
					</li>
						<li>
												<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
							<div class="cp-image">
								<img class="myBackgroundImage" src="assets/images/worker_login.jpg" alt="">
							</div>
							<div class="cp-social">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="cp-button">
								<button class="submit"><i class="fa fa-paper-plane"></i></button>
							</div>
							<div class="cp-author-image">
								<img src="assets/images/worker_login.jpg" alt="Author image">
							</div>
							<div class="cp-text">
								<p>
								Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej...
								</p>
								<div class="cp-data">
									<span class="cp-autor">Cris Cris</span>
									<time>15 days ago</time>
								</div>
							</div>

							</a>
						</div>
					</li>
								
				</ul>


				</div><!-- /.career-pin-conatiner -->


					<div class="worker-options">
						<a class="worker-logout">Log out</a>
						
					<ul class="user-right">

					<li>
												<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
							<div class="cp-image">
								<img class="myBackgroundImage" src="assets/images/worker_login.jpg" alt="">
							</div>
							<div class="cp-social">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="cp-button">
								<button class="submit"><i class="fa fa-trash"></i></button>
							</div>
							<div class="cp-author-image">
								<img src="assets/images/worker_login.jpg" alt="Author image">
							</div>
							<div class="cp-text">
								<p>
								Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej...
								</p>
								<div class="cp-data">
									<span class="cp-autor">Cris Cris</span>
									<time>15 days ago</time>
								</div>
							</div>

							</a>
						</div>
					</li>
						<li>
												<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
							<div class="cp-image">
								<img class="myBackgroundImage" src="assets/images/worker_login.jpg" alt="">
							</div>
							<div class="cp-social">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="cp-button">
								<button class="submit"><i class="fa fa-trash"></i></button>
							</div>
							<div class="cp-author-image">
								<img src="assets/images/worker_login.jpg" alt="Author image">
							</div>
							<div class="cp-text">
								<p>
								Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej...
								</p>
								<div class="cp-data">
									<span class="cp-autor">Cris Cris</span>
									<time>15 days ago</time>
								</div>
							</div>

							</a>
						</div>
					</li>
								
				</ul>
						
					</div>
					
				</div>


		<!-- jQuery -->
		<script src="assets/javascript/jquery.min.js"></script>
		
		<!-- Bootstrap js -->
		<script src="assets/javascript/bootstrap.min.js"></script>
		
		
		<script type="text/javascript" src="cover/jquery.cover.js"></script>
		<script type="text/javascript">
			(function($) {
				$(document).ready(function() {
					$(".myBackgroundImage").cover();
				});
			})(jQuery);
		</script>
		

		


<%= link_to "Wyloguj się", social_users_destroy_path, method: :delete %>
<%= link_to "Zaloguj przez Face'a",'auth/facebook', class: "btn btn-block btn-social btn-lg btn-facebook"  %>

<%= link_to "Zaloguj przez Twittera!",'auth/twitter', class: "btn btn-block btn-social btn-lg btn-facebook"  %>
	<% if @feed %>
		<div style="width: 600px; align: left;" >
			<h1>Facebook Data</h1>
			<% @feed.each do |post| %>
				<p><strong>Autor postu</strong><%= post['from']['name']%></p>
				<p><strong>Zdjęcie autora</strong><%= image_tag( @graph.get_picture(post['from']['id'], type: :album))%></p>
				<p><strong>Autor postu</strong><%= time_ago_in_words(post['updated_time'])%> ago</p>
				<p><strong>Obrazek postu:</strong><%= image_tag(post['full_picture'], style: "width: 150px;") %></p>
				<p><strong>Treść postu</strong><%= post['message'] %></p>
				<%= "http://facebook.com/#{post['id']}" %>
				<hr>
			<% end %>
	<% end %>
	<% if @last_tweets %>
		<div stlye"width: 600px; align: right;">
			<% @last_tweets.each do |tweet| %>
                <p><%= image_tag(tweet.user.profile_image_uri(size = :bigger)) %></p> 
                <p><%= tweet.user.name %></p>
                <p><time><%= time_ago_in_words(tweet.created_at) %> ago</time></p>
                <p>Zdjęcie tweeta:<%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"]) if(tweet.media.present?)%>
          		<div class="post-main-text"></p>
            	<p>Treść tweeta:<%= tweet.text %></p>
			<% end %>
		</div>
	<% end %>
</div>