				<% if current_social_user %>
				<%= link_to "Wyloguj się", social_users_destroy_path, method: :delete %>
				<% end %>
				<p>
				<%= session[:company_name] %>
				</p>
				<%= session[:social_user_id] %>
				<p>				<%= params %>
					</p>

				<%= @current_social_user.social_uid if @current_social_user %>

