<div class="user-container">

			<div class="career-pin-conatiner-user">
				<ul class="career-pin-preview">
					<li style="font-family: carnas light;">career-pin</li>
					<% @pins.each do |pin| %>
					<% if pin.image.nil? || pin.image.empty? %>
					 <li class=<%="#{pin.provider}-list"%>>
				 	 <% else %>
					 <li>
					<% end %>
						<div class="cp-2">
							<a target="blank" href=<%= "#{pin.link}" %>>
								<div class="cp-image">
									<%= image_tag( pin.image, class: "myBackgroundImage") %>
								</div>
								<div class="cp-social">
									<% if pin.provider == "facebook" %>
									<i class="fa fa-facebook"></i>
									<% elsif pin.provider == "twitter" %>
									<i class="fa fa-twitter"></i>
									<% end %>
								</div>
								<div class="cp-button preview">
									<%= button_to pin_path(pin), method: :delete do %>
								 <i class="fa fa-trash"></i>
								<% end %> 
								</div>

								<div class="cp-allweys">
									<div class="cp-author-image">
										<%= image_tag( pin.author_image )%>
									</div>
									<div class="cp-text">
										<p><% if pin.image.nil? || pin.image.empty? %>
											 <%= pin.message.first(250) if pin.message %>
											 <% else %>
											 <%= pin.message.first(90) if pin.message %>
											<% end %>
										</p>
										<div class="cp-data">
											<span class="cp-autor"><%= pin.author_name %></span>
											<time><%= time_ago_in_words( pin.creation_time ) %> ago</time>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
					<% end %>
					
					
				</ul>
			</div><!-- /.career-pin-conatiner -->

				<div class="admin-options">
					<div class="admin-stats">
					
					<h2>Analitics:</h2>

					<div class="stats">

						<div class="stat-box">
							<h3>Visited</h3>
							<p><%= @visited%></p>
						</div>

						<div class="stat-box">
							<h3>Views</h3>
							<p><%= @views %></p>
						</div>
						<p>Powyżej widnieją statystyki, dzięki którym możesz obserwować, jakim zainteresowaniem cieszy się miejsce, w którym został umieszczony career-pin. </p>

						<p>Aby umieścić career-pin na swojej stronie wyślij dane do swojego działu IT, lub samodzielnie dodaj poniższy kod w odpowiednie miejsce na Twojej stronie.</p>
						
						<div class="stat-box alt">
							<h3>iframe</h3>
							<p>&lt;iframe width="100%" height="3000px" src="http://career-pin.com/career-pin/<%= "#{current_company.name}" %> frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</p>
						</div>

						<a HREF="mailto:the_best_it_guy_in_universe?subject=career-pin implementation&body=Hi, please implement this code to our website. I would like to this be here: <place for link>. The only thing is to get here that awesome link. ">tell a friend</a>

						<p>Wyślij swoim pracownikom dostęp do career-pin aby zachęcić ich do wymieniania się własnymi treściami.</p>
						<div class="stat-box alt">
							<h3>Employee link</h3>
							<p>http://career-pin.com/company/<%= "#{current_company.name}"%></p>
						</div>
						
						

					</div>
					
					
					
					</div>
				</div><!-- /.admin-options -->
		</div><!-- /.user-container -->