<div class="user-container">

			<div class="career-pin-conatiner-user">

				<div class="container-fluid brand-ambasadors">

				<ul class="career-pin-admin">
					<li>Facebook likes</li>
				</ul>
				<% @pages.each do |page| %>
					<div class="box">
						<%= link_to facebook_show_path(page) do %>
							<div class="profile-image">
								<%= image_tag( @graph.get_picture( page['id'], type: :large) ) %>
							</div>
							<div class="profile-name">
								<span class="text-center"><%= page['name']%></span>
							</div>
								<!--
								<div class="number-of-posts">
									<%= link_to root_path do %>
									 ten przycisk służy do dodawania profili do ulubionych - wtedy pojawiają się z prawej strony od razu i nie trzeba ich szukać
									<span><i class="fa fa-pause-circle"></i></span>

									<% end %>
								</div>
								 -->

						<% end %>            
					</div>
				<% end %>
				<ul id="pag">
	          	<% if !params[:times].present? || params[:times] == "0" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>	
	          		<%= link_to "1", facebook_path( :times => 0) %>
	          	</li>
	          	<% if params[:times] == "1" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "2", facebook_path( :times => 1) %>
	          	</li>
	          	<% if params[:times] == "2" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "3", facebook_path( :times => 2) %>
	          	</li>
	          	<% if params[:times] == "3" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "4", facebook_path( :times => 3) %>
	          	</li>
	          	<% if params[:times] == "4" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "5", facebook_path( :times => 4) %>
	          	</li>
	          </ul>	


			</div><!-- /.career-pin-conatiner -->
			</div>


				<div class="admin-options">
					
					<div class="worker-options">

					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum nostrum eos quo totam quibusdam, optio vitae dolor nihil vel perferendis consequatur commodi, accusamus, enim aperiam odit soluta corporis! Culpa, nostrum.</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio officia, perspiciatis est suscipit libero ipsa ut dicta fugiat cupiditate, iste veniam distinctio, dolorum deserunt rem illo non at laudantium quam.</p>

					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum nostrum eos quo totam quibusdam, optio vitae dolor nihil vel perferendis consequatur commodi, accusamus, enim aperiam odit soluta corporis! Culpa, nostrum.</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio officia, perspiciatis est suscipit libero ipsa ut dicta fugiat cupiditate, iste veniam distinctio, dolorum deserunt rem illo non at laudantium quam.</p>
					
					</div>
				</div><!-- /.admin-options -->
			</div>
		</div>