<div class="user-container">

			<div class="career-pin-conatiner-user">

				<div class="container-fluid brand-ambasadors">

				<ul class="career-pin-admin">
					<li><span style="font-family:carnas light;">Polajkowane strony</span></li>
				</ul>
				<% @pages.each do |page| %>
					<div class="box">
						<%= link_to facebook_show_path(page) do %>
							<div class="profile-image">
								<%= image_tag( @graph.get_picture( page['id'], type: :large) ) %>
							</div>
							<div class="profile-name">
								<span class="text-center"><%= page['name']%></span>
							</div>
								<!--
								<div class="number-of-posts">
									<%= link_to root_path do %>
									 ten przycisk służy do dodawania profili do ulubionych - wtedy pojawiają się z prawej strony od razu i nie trzeba ich szukać
									<span><i class="fa fa-pause-circle"></i></span>

									<% end %>
								</div>
								 -->

						<% end %>            
					</div>
				<% end %>
				<ul id="pag">
	          	<% if !params[:times].present? || params[:times] == "0" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>	
	          		<%= link_to "1", facebook_path( :times => 0) %>
	          	</li>
	          	<% if params[:times] == "1" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "2", facebook_path( :times => 1) %>
	          	</li>
	          	<% if params[:times] == "2" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "3", facebook_path( :times => 2) %>
	          	</li>
	          	<% if params[:times] == "3" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "4", facebook_path( :times => 3) %>
	          	</li>
	          	<% if params[:times] == "4" %>
	          	 <li class="active">
	          	<% else %>
	          	 <li>
	          	<% end %>
	          		<%= link_to "5", facebook_path( :times => 4) %>
	          	</li>
	          </ul>	


			</div><!-- /.career-pin-conatiner -->
			</div>


				<div class="admin-options">
					
					<div class="worker-options">

					<h2>Prosty dostęp do ważnych informacji.</h2>

					<p>W tym miejscu pojawiają się wszystkie strony, które zostały przez Ciebie zlajkowane <i class="fa fa-thumbs-up"></i> na Facebooku <i class="fa fa-facebook-official"></i>.</p>
					
					</div>
				</div><!-- /.admin-options -->
			</div>
		</div>