

<% author_photo = @last_tweets.first.user.profile_image_uri(size = :normal) %>
<% user_name = @last_tweets.first.user.name %>
<% screen_name = @last_tweets.first.user.screen_name %>
<div class="user-container">

      <div class="career-pin-conatiner-user">
        <ul class="career-pin-preview">
          <li>Your Twitter posts</li>
            <% @last_tweets.each do |tweet| %>
            <% if tweet.media.present? %>
             <li>
            <% else %>
             <li class="twitter-list">
            <% end %>
              <div class="cp-2">
                <a target="blank" href=<%= "#{tweet.uri}"%> >
                  <div class="cp-image">
                    <%= image_tag(tweet.media[0]["media_url"], class: "myBackgroundImage") if(tweet.media.present?)%>

                  </div>
                  <div class="cp-social">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="cp-button preview">
                      
<%= form_for(@pin) do |f| %>
<%= f.hidden_field(:author_image, :value => author_photo) %>
<%= f.hidden_field(:link, :value => "#{tweet.uri}" ) %>
<%= f.hidden_field(:provider, :value => "twitter") %>
<%= f.hidden_field(:image, :value => tweet.media[0]["media_url"] ) if tweet.media.present? %>
<%= f.hidden_field(:author_name, :value => user_name ) %>
<%= f.hidden_field(:message, :value => tweet.text) %>
<%= f.hidden_field(:creation_time, :value => tweet.created_at ) %>
<%= f.hidden_field(:social_user_id, :value => current_social_user.id ) %>
<%= f.hidden_field(:company_id, :value => current_company.id) if current_company %>
<%= f.hidden_field(:company_name, :value => session[:company_name] )%>
<%= button_to root_path, type: "submit", class: "submit" do%>
 <i class="fa fa-plus"></i>
<% end %>
<% end %>


                  </div>
                  <div class="cp-allweys">
                    <div class="cp-author-image">
                      <%= image_tag(author_photo) %>
                    </div>
                    <div class="cp-text">
                      <p>
                        <%= tweet.text.first(140) %>
                      </p>
                      <div class="cp-data">
                        <span class="cp-autor"><%= user_name %></span>
                        <time><%= time_ago_in_words(tweet.created_at) %> ago</time>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          <% end %>
          
      </div><!-- /.career-pin-conatiner -->

        <div class="admin-options">
          <div class="admin-stats">
           
          <h2>Lorem ipsum dolores sit amet</h2>

          <div class="stats">

            
            
            
            <button class="button">Your Facebook posts</button>

             <% if current_company.stalked_pages.where( pageid: screen_name ).first %>
              <%= button_to stalked_page_path(params[:name]), class: "button", method: :delete do %>
                Unfollow
              <% end %>

              <%= link_to create_pin_from_twitter_path(:name => screen_name ), class: "button"  do %>
                Dodaj wszystkie(20) posty do career-pin
              <% end %>
            <% else %>
              <%= form_for(@stalked_page) do |f| %>
              <%= f.hidden_field(:name, :value => user_name ) %>
              <%= f.hidden_field(:pageid, :value => screen_name) %>
              <% a = "#{author_photo}"  %>
              <% a.slice!("_normal") %>
              <%= f.hidden_field(:image_url, :value => a) %>
              <%= f.hidden_field(:company_id, :value => current_company.id) %>
              <%= f.hidden_field(:provider, :value => "twitter") %>
              <%= button_to type: "submit", class: "button" do %>
                Follow
                <% end %>
              <% end %>
            <% end %>
          </div>

          
          </div>
        </div><!-- /.admin-options -->
    </div><!-- /.user-container -->
