

<% author_photo = @last_tweets.first.user.profile_image_uri(size = :normal) %>
<% user_name = @last_tweets.first.user.name %>
<% screen_name = @last_tweets.first.user.screen_name %>
<div class="user-container">

      <div class="career-pin-conatiner-user">
        <ul class="career-pin-preview">
          <li>Your Twitter posts</li>
            <% @last_tweets.each do |tweet| %>
            <% if tweet.media.present? %>
             <li>
            <% else %>
             <li class="twitter-list">
            <% end %>
              <div class="cp-2">
                <a target="blank" href="www.facebook.com/50063176484_10153381528596485">
                  <div class="cp-image">
                    <%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"], class: "myBackgroundImage") if(tweet.media.present?)%>

                  </div>
                  <div class="cp-social">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="cp-button preview">
                    <button class="submit"><i class="fa fa-plus"></i></button>
                  </div>
                  <div class="cp-allweys">
                    <div class="cp-author-image">
                      <%= image_tag(author_photo) %>
                    </div>
                    <div class="cp-text">
                      <p>
                        <%= tweet.text.first(140) %>
                      </p>
                      <div class="cp-data">
                        <span class="cp-autor"><%= user_name %></span>
                        <time><%= time_ago_in_words(tweet.created_at) %> ago</time>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          <% end %>
          
      </div><!-- /.career-pin-conatiner -->

        <div class="admin-options">
          <div class="admin-stats">
            <% if current_company.stalked_pages.where( pageid: screen_name ).first %>
              <%= button_to stalked_page_path(params[:name]), class: "button", method: :delete do %>
                Unfollow
              <% end %>
            <% else %>
              <%= form_for(@stalked_page) do |f| %>
              <%= f.hidden_field(:name, :value => user_name ) %>
              <%= f.hidden_field(:pageid, :value => screen_name) %>
              <% a = "#{author_photo}"  %>
              <% a.slice!("_normal") %>
              <%= f.hidden_field(:image_url, :value => a) %>
              <%= f.hidden_field(:company_id, :value => current_company.id) %>
              <%= f.hidden_field(:provider, :value => "twitter") %>
              <%= button_to type: "submit", class: "button" do %>
                Follow
                <% end %>
              <% end %>
            <% end %>
          <h2>Lorem ipsum dolores sit amet</h2>

          <div class="stats">

            <div class="stat-box">
              <h3>Visited</h3>
              <p>1784</p>
            </div>

            <div class="stat-box">
              <h3>Interactions</h3>
              <p>1242</p>
            </div>
            
            
            <button class="button">Your Facebook posts</button>
          </div>

          
          </div>
        </div><!-- /.admin-options -->
    </div><!-- /.user-container -->
