<div class="user-container">

			<div class="career-pin-conatiner-user">
				<ul class="career-pin-preview">
					<li><span style="font-family:carnas light;">Informacje wewnetrzne <%= current_company.name %></span></li>
					<% @pins.each do |pin| %>
					<% if pin.image.nil? || pin.image.empty? %>
					 <li class=<%="#{pin.provider}-list"%>>
				 	 <% else %>
					 <li>
					<% end %>
						<div class="cp-2">
							<a target="blank" href=<%= "#{pin.link}" %>>
								<div class="cp-image">
									<%= image_tag( pin.image, class: "myBackgroundImage") %>
								</div>
								
								<div class="cp-social">
									<% if pin.provider == "facebook" %>
									<i class="fa fa-facebook"></i>
									<% elsif pin.provider == "twitter" %>
									<i class="fa fa-twitter"></i>
									<% end %>
								</div>
								
								<div class="cp-button preview">
									
										<% if !pin.career_pin %>
										<%= button_to career_pin_add_path( id: pin.id ),class: "plus", form_class: "delete", params: {id: pin.id}, method: :get  do %>
										<i class="fa fa-plus"></i>
										<% end %> 
										<% end %>
									
									
									
										<%= button_to pin_path(pin),class: "trash", method: :delete do %>
										<i class="fa fa-trash"></i>
										<% end %>
									
								</div>
								
								
								<div class="cp-allweys">
									<div class="cp-author-image">
										<%= image_tag( pin.author_image )%>
									</div>
									<div class="cp-text">
										<p><% if pin.image.nil? || pin.image.empty? %>
											 <%= pin.message.first(300) if pin.message %>
											 <% else %>
											 <%= pin.message.first(90) if pin.message %>
											<% end %>
										</p>
										<div class="cp-data">
											<span class="cp-autor"><%= pin.author_name %></span>
											<time><%= time_ago_in_words( pin.creation_time ) %> ago</time>
										</div>
									</div>
								</div>
								</a>
							
						</div>
					</li>
					<% end %>
					
					
				</ul>
			</div><!-- /.career-pin-conatiner -->

				<div class="admin-options">
					<div class="admin-stats">
					
					<h2>W ciągu ostatnich 7 dni</h2>

					<div class="stats">

						<div class="stat-box">
							<h3>career-pin wyświetlono</h3>
							<p><%= @views %> razy</p>
						</div>

						<div class="stat-box">
							<h3>career-pin został odwiedzony</h3>
							<p><%= @visited %> razy</p>
						</div>

						<div class="stat-box alt">
							<h3>Link dostępu dla pracowników</h3>
							<p>http://career-pin.com/company/<%= "#{current_company.name}"%></p>
						</div>
						<p>Wyślij swoim współpracownikom dostęp do career-pin aby oni również mogli dzielić się swoimi aktywnościami z SocialMediów.</p>
	<ul id="pag">
     <li>
	 <a HREF="mailto:maile_twoich_wspołpracowników@domenafirmy.pl?subject=Ludzka strona firmy&body=Dzień dobry,%0D%0ADoskonale zdajemy sobie sprawę z tego, jak ważną częścią życia każdego z Was jest praca. Wycchodząc naprzeciw oczekiwaniom naszych pracowników oraz kandydatów uruchomiliśmy usługę career-pin. Pod tym linkiem mogą Państwo znaleźć career-pin, platformę służącą do dzielenia się pasjami oraz wydarzeniami. %0D%0A%0D%0A------------------------------------%0D%0A%0D%0AProszę wkleić tutaj LINK DOSTĘPU DLA PRACOWNIKÓW, znajdujący się na stronie career-pin.%0D%0A%0D%0A------------------------------------%0D%0A%0D%0AZachęcamy do prezentowania innym współpracownikom ciekawych wiadomości, zdjęć z wyjazdów integracyjnych, targów czy innych podobnych skarbów :) Zyta wymyśl coś tutaj bo jest 4 rano :D ">Wyślij dostęp współpracownikom</a>
	 </li>
	</ul>

					</div>			
					
					</div>
				</div><!-- /.admin-options -->
		</div><!-- /.user-container -->