<div class="user-container">

			<div class="career-pin-conatiner-user">
				<ul class="career-pin-preview">
					<li>Your employer's posts</li>
					<% @pins.each do |pin| %>
					<% if pin.image.nil? || pin.image.empty? %>
					 <li class=<%="#{pin.provider}-list"%>>
				 	 <% else %>
					 <li>
					<% end %>
						<div class="cp-2">
							<a target="blank" href=<%= "#{pin.link}" %>>
								<div class="cp-image">
									<%= image_tag( pin.image, class: "myBackgroundImage") %>
								</div>
								<div class="cp-social">
									<% if pin.provider == "facebook" %>
									<i class="fa fa-facebook"></i>
									<% elsif pin.provider == "twitter" %>
									<i class="fa fa-twitter"></i>
									<% end %>
								</div>
								<div class="cp-button preview">
									<button class="submit"><i class="fa fa-plus"></i></button>
									<%= button_to pin_path(pin), method: :delete do %>
								 <i class="fa fa-trash"></i>
								<% end %> 
								</div>

								<div class="cp-allweys">
									<div class="cp-author-image">
										<%= image_tag( pin.author_image )%>
									</div>
									<div class="cp-text">
										<p><% if pin.image.nil? || pin.image.empty? %>
											 <%= pin.message.first(300) if pin.message %>
											 <% else %>
											 <%= pin.message.first(90) if pin.message %>
											<% end %>
										</p>
										<div class="cp-data">
											<span class="cp-autor"><%= pin.author_name %></span>
											<time><%= time_ago_in_words( pin.creation_time ) %></time>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
					<% end %>
					
					
				</ul>
			</div><!-- /.career-pin-conatiner -->

				<div class="admin-options">
					<div class="admin-stats">
					
					<h2>Lorem ipsum dolores sit amet</h2>

					<div class="stats">

						<div class="stat-box">
							<h3>Visited</h3>
							<p>1784</p>
						</div>

						<div class="stat-box">
							<h3>Interactions</h3>
							<p>1242</p>
						</div>
						
						<div class="stat-box alt">
							<h3>iframe</h3>
							<p>&lt;iframe width="560" height="315" src="https://www.youtube.com/embed/N0Ix8XlQkTY" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</p>
						</div>
						
						<div class="stat-box alt">
							<h3>Employee link</h3>
							<p>http://career-pin.com/company</p>
						</div>
						
						<button class="button">Preview</button>

					</div>
					
					
					
					</div>
				</div><!-- /.admin-options -->
		</div><!-- /.user-container -->