<!DOCTYPE html>
<html>
<head>
  <title>CareerPin</title>

		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		  <!-- FontAwesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body>
	<% if company_signed_in? %>
	<header>
		<nav class="admin-options-logout">
			<%= link_to social_users_destroy_path, method: :delete, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Sign out"} do %>
				<i class="fa fa-sign-out"></i>
			<% end %>
			<%= link_to edit_company_registration_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Settings"} do %>
				<i class="fa fa-cog"></i>
			<% end %>
			<a class="worker-logout" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-th-large"></i></a>
			<% if current_social_user %>
			 <%= link_to edit_company_registration_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Settings"} do %>
				<i class="fa fa-user"></i>
			 <% end %>
			<% end %>
			<% if params[:action] == "twitter_show" %>
			 <%= link_to  'javascript:history.go(-1);', class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Twitter"} do %>
				<i class="fa fa-twitter"></i>
			 <% end %>
			<% else %>
			 <%= link_to twitter_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Twitter"} do %>
				<i class="fa fa-twitter"></i>
			 <% end %>
			<% end %>
			<% if params[:action] == "facebook_show" %>
			 <%= link_to  'javascript:history.go(-1);', class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Facebook"} do %>
				<i class="fa fa-facebook-official"></i>
			 <% end %>
			<% else %>
			 <%= link_to facebook_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Facebook"} do %>
				<i class="fa fa-facebook-official"></i>
			 <% end %>
			<% end %>
			<% if current_social_user && current_company.stalked_pages.any? %>
			 <%= link_to stalked_pages_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Facebook"} do %>
				<i class="fa fa-bookmark"></i>
			 <% end %>
			<% end %> 
			<%= link_to root_path, class: "worker-logout", data: {toggle: "tooltip", placement: "bottom", title: "Employers' posts"} do %>
				<i class="fa fa-users"></i>
			<% end %>
		</nav>
	</header>
	<% end %>

<%= yield %>
	<script type="text/javascript">
		(function($) {
			$(document).ready(function() {
				$(".myBackgroundImage").cover();
			});
		})(jQuery);
	</script>
</body>
</html>
